@using System
@using RestaurantManagement.Services.AuthService.Interfaces
@using Microsoft.AspNetCore.Http
@using RestaurantManagement.Helpers

@inject IHttpContextAccessor HttpContextAccessor
@inject IUserInfoes userInfo
@{

    var userInfos = await userInfo.GetUserInfoByUser(@User.Identity.Name);
    string userRole = "";
    @if (userInfos != null)
    {
        userRole = await userInfo.GetUserRoleByByUserId(@userInfos.Id);
    }

}



<!DOCTYPE html>
<html lang="en">


<!-- index.html  21 Nov 2019 03:44:50 GMT -->
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Restaurant Management</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/assets/css/app.min.css">
    <!-- Datable CSS Files -->
    <link rel="stylesheet" href="~/assets/bundles/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="~/assets/css/custom.css">
    <link rel='shortcut icon' type='image/x-icon' href='/assets/img/favicon.ico' />
    <!-- Additional style CSS -->

    <link href="~/assets/sweetalert2/dist/sweetalert2.css" rel="stylesheet" />
    <link href="~/assets/flatpikr/flatpickr.min.css" rel="stylesheet" />
    <link href="~/assets/flatpikr/material_blue.css" rel="stylesheet" />

    @RenderSection("Style", required: false)
</head>

<body>
    <div class="loader"></div>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar sticky">
                <div class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li>
                            <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"> <i data-feather="align-justify"></i></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link nav-link-lg fullscreen-btn">
                                <i data-feather="maximize"></i>
                            </a>
                        </li>
                        <li>
                            <form class="form-inline mr-auto">
                                <div class="search-element">
                                    <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="200">
                                    <button class="btn" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav navbar-right">
                    <li class="dropdown dropdown-list-toggle">
                        <a href="#" data-toggle="dropdown"
                           class="nav-link nav-link-lg message-toggle">
                            <i data-feather="mail"></i>
                            <span class="badge headerBadge1">
                                6
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
                            <div class="dropdown-header">
                                Messages
                                <div class="float-right">
                                    <a href="#">Mark All As Read</a>
                                </div>
                            </div>
                            <div class="dropdown-list-content dropdown-list-message">
                                <a href="#" class="dropdown-item">
                                    <span class="dropdown-item-avatar
											text-white">
                                        <img alt="image" src="~/assets/img/users/user-1.png" class="rounded-circle">
                                    </span> <span class="dropdown-item-desc">
                                        <span class="message-user">
                                            John
                                            Deo
                                        </span>
                                        <span class="time messege-text">Please check your mail !!</span>
                                        <span class="time">2 Min Ago</span>
                                    </span>
                                </a> <a href="#" class="dropdown-item">
                                    <span class="dropdown-item-avatar text-white">
                                        <img alt="image" src="~/assets/img/users/user-2.png" class="rounded-circle">
                                    </span> <span class="dropdown-item-desc">
                                        <span class="message-user">
                                            Sarah
                                            Smith
                                        </span> <span class="time messege-text">
                                            Request for leave
                                            application
                                        </span>
                                        <span class="time">5 Min Ago</span>
                                    </span>
                                </a> <a href="#" class="dropdown-item">
                                    <span class="dropdown-item-avatar text-white">
                                        <img alt="image" src="~/assets/img/users/user-5.png" class="rounded-circle">
                                    </span> <span class="dropdown-item-desc">
                                        <span class="message-user">
                                            Jacob
                                            Ryan
                                        </span> <span class="time messege-text">
                                            Your payment invoice is
                                            generated.
                                        </span> <span class="time">12 Min Ago</span>
                                    </span>
                                </a> <a href="#" class="dropdown-item">
                                    <span class="dropdown-item-avatar text-white">
                                        <img alt="image" src="~/assets/img/users/user-4.png" class="rounded-circle">
                                    </span> <span class="dropdown-item-desc">
                                        <span class="message-user">
                                            Lina
                                            Smith
                                        </span> <span class="time messege-text">
                                            hii John, I have upload
                                            doc
                                            related to task.
                                        </span> <span class="time">
                                            30
                                            Min Ago
                                        </span>
                                    </span>
                                </a> <a href="#" class="dropdown-item">
                                    <span class="dropdown-item-avatar text-white">
                                        <img alt="image" src="~/assets/img/users/user-3.png" class="rounded-circle">
                                    </span> <span class="dropdown-item-desc">
                                        <span class="message-user">
                                            Jalpa
                                            Joshi
                                        </span> <span class="time messege-text">
                                            Please do as specify.
                                            Let me
                                            know if you have any query.
                                        </span> <span class="time">
                                            1
                                            Days Ago
                                        </span>
                                    </span>
                                </a> <a href="#" class="dropdown-item">
                                    <span class="dropdown-item-avatar text-white">
                                        <img alt="image" src="~/assets/img/users/user-2.png" class="rounded-circle">
                                    </span> <span class="dropdown-item-desc">
                                        <span class="message-user">
                                            Sarah
                                            Smith
                                        </span> <span class="time messege-text">Client Requirements</span>
                                        <span class="time">2 Days Ago</span>
                                    </span>
                                </a>
                            </div>
                            <div class="dropdown-footer text-center">
                                <a href="#">View All <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown dropdown-list-toggle">
                        <a href="#" data-toggle="dropdown"
                           class="nav-link notification-toggle nav-link-lg">
                            <i data-feather="bell" class="bell"></i>
                        </a>
                        <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
                            <div class="dropdown-header">
                                Notifications
                                <div class="float-right">
                                    <a href="#">Mark All As Read</a>
                                </div>
                            </div>
                            <div class="dropdown-list-content dropdown-list-icons">
                                <a href="#" class="dropdown-item dropdown-item-unread">
                                    <span class="dropdown-item-icon bg-primary text-white">
                                        <i class="fas
												fa-code"></i>
                                    </span> <span class="dropdown-item-desc">
                                        Template update is
                                        available now! <span class="time">
                                            2 Min
                                            Ago
                                        </span>
                                    </span>
                                </a> <a href="#" class="dropdown-item">
                                    <span class="dropdown-item-icon bg-info text-white">
                                        <i class="far
												fa-user"></i>
                                    </span> <span class="dropdown-item-desc">
                                        <b>You</b> and <b>
                                            Dedik
                                            Sugiharto
                                        </b> are now friends <span class="time">
                                            10 Hours
                                            Ago
                                        </span>
                                    </span>
                                </a> <a href="#" class="dropdown-item">
                                    <span class="dropdown-item-icon bg-success text-white">
                                        <i class="fas
												fa-check"></i>
                                    </span> <span class="dropdown-item-desc">
                                        <b>Kusnaedi</b> has
                                        moved task <b>Fix bug header</b> to <b>Done</b> <span class="time">
                                            12
                                            Hours
                                            Ago
                                        </span>
                                    </span>
                                </a> <a href="#" class="dropdown-item">
                                    <span class="dropdown-item-icon bg-danger text-white">
                                        <i class="fas fa-exclamation-triangle"></i>
                                    </span> <span class="dropdown-item-desc">
                                        Low disk space. Let's
                                        clean it! <span class="time">17 Hours Ago</span>
                                    </span>
                                </a> <a href="#" class="dropdown-item">
                                    <span class="dropdown-item-icon bg-info text-white">
                                        <i class="fas
												fa-bell"></i>
                                    </span> <span class="dropdown-item-desc">
                                        Welcome to Otika
                                        template! <span class="time">Yesterday</span>
                                    </span>
                                </a>
                            </div>
                            <div class="dropdown-footer text-center">
                                <a href="#">View All <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </li>

                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown"
                           class="nav-link dropdown-toggle nav-link-lg nav-link-user">

                            <img alt="image" src="~/EmpImages/637683425374940578.jpg"
                                 class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span>

                        </a>
                        <div class="dropdown-menu dropdown-menu-right pullDown">
                            <div class="dropdown-title">Hello Sarah Smith</div>
                            <a href="profile.html" class="dropdown-item has-icon">
                                <i class="far
										fa-user"></i> Profile
                            </a> <a href="timeline.html" class="dropdown-item has-icon">
                                <i class="fas fa-bolt"></i>
                                Activities
                            </a> <a href="#" class="dropdown-item has-icon">
                                <i class="fas fa-cog"></i>
                                Settings
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="auth-login.html" class="dropdown-item has-icon text-danger">
                                <i class="fas fa-sign-out-alt"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">

                    <div class="sidebar-brand">
                        <a href="/Home/Index">
                            <img alt="image" src="~/assets/img/logo.png" class="header-logo" /> <span class="logo-name">Restaurant</span>
                        </a>
                    </div>

                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (userInfos?.UserName == "" && userRole == "" || userInfos?.UserName == null && userRole == null)
                        {<ul class="sidebar-menu">
                                <li class="dropdown">
                                    <a href="#" class="menu-toggle nav-link has-dropdown">
                                        <i data-feather="user-check"></i><span>Auth</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/Auth/Account/Login">Login</a></li>
                                        <li><a href="/Auth/Account/Register">Register</a></li>
                                    </ul>
                                </li>
                            </ul>
                        }
                        else if (userInfos?.UserName != null && userRole == "Super Admin")
                        {
                <ul class="sidebar-menu">
                    <li class="menu-header">Main</li>
                    <li class="dropdown active">
                        <a href="#" class="nav-link"><i data-feather="monitor"></i><span>Dashboard</span></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown">
                            <i data-feather="user-check"></i><span>Auth</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/Auth/Account/Login">Login</a></li>
                            <li><a href="/Auth/Account/Register">Register</a></li>
                            <li><a href="#" data-target="#logoutModal" data-toggle="modal">Logout</a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown">
                            <i data-feather="copy"></i><span>
                                Purchase
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" href="/PurchaseArea/Purchase/CreatePurchase">Create Purchase</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="grid"></i><span>Sell</span></a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" href="/SellArea/SellRecord/CreateSell">Create Sell</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown">
                            <i data-feather="pie-chart"></i><span>Kitchen</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" href="/KitchenArea/KitchenSupply/Index">Kitchen Supply</a></li>
                            <li><a class="nav-link" href="#">test</a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="layout"></i><span>Food Item</span></a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" href="/FoodItemArea/FoodItem/Index">Food Item</a></li>
                            <li><a class="nav-link" href="/FoodItemArea/FoodCategory/Index">Food Category</a></li>
                            <li><a class="nav-link" href="/FoodItemArea/FoodItem/CreateDailyFoodItem">Create Daily Food Item</a></li>
                            <li><a class="nav-link" href="/FoodItemArea/DailyFoodItem/Index">Today Food Item</a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown">
                            <i data-feather="briefcase"></i><span>Salary</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" href="/SalaryArea/SalaryPayment/Payment">Salary Payment</a></li>
                            <li><a class="nav-link" href="/SalaryArea/SalaryPayment/PaySalaryDetails">Paid Salary Status</a></li>
                            <li><a class="nav-link" href="/SalaryArea/SalaryStructure/CreateMonthlySalary">Create Monthly Salary</a></li>
                            <li><a class="nav-link" href="/SalaryArea/EarningSalary/Index"> All Earning Salary</a></li>
                            <li><a class="nav-link" href="/SalaryArea/SalaryStructure/Index">Salary Structure</a></li>
                            <li><a class="nav-link" href="/EmployeeArea/Employee/Index">Employee</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="command"></i><span>Master Data</span></a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" href="/MasterDataArea/Category/Index">Category</a></li>
                            <li><a class="nav-link" href="/MasterDataArea/Unit/Index">Unit</a></li>
                            <li><a class="nav-link" href="/MasterDataArea/Item/Index">Item</a></li>
                            <li><a class="nav-link" href="/MasterDataArea/Department/Index">Department</a></li>
                            <li><a class="nav-link" href="/MasterDataArea/Designation/Index">Designation</a></li>
                            <li><a class="nav-link" href="/MasterDataArea/Gender/Index">Gender</a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown">
                            <i data-feather="shopping-bag"></i><span>Supplier</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" href="/SupplierArea/Supplier/Index">Create Supplier</a></li>
                            <li><a class="nav-link" href="/SupplierArea/SupplierDetails/Index">Supplier Details</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="mail"></i><span>Cash</span></a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" href="/GeneralTransactionArea/AdminCashTransaction/Index">Admin Cash</a></li>
                        </ul>
                    </li>
                    <li class="menu-header">UI Elements</li>


                    <li><a class="nav-link" href="#"><i data-feather="file"></i><span>Blank Page</span></a></li>
                    <li class="menu-header">Otika</li>




                    <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="feather"></i><span>Icons</span></a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" href="#">Font Awesome</a></li>
                            <li><a class="nav-link" href="#">Material Design</a></li>

                        </ul>
                    </li>
                    <li class="menu-header">Media</li>
                    <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="image"></i><span>Gallery</span></a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" href="#">Light Gallery</a></li>
                            <li><a href="#">Gallery 2</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="flag"></i><span>Sliders</span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Bootstrap Carousel.html</a></li>
                            <li><a class="nav-link" href="#">Owl Carousel</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link" href="timeline.html"><i data-feather="sliders"></i><span>Timeline</span></a></li>
                    <li class="menu-header">Maps</li>
                    <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown">
                            <i data-feather="map"></i><span>
                                Google
                                Maps
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Advanced Route</a></li>
                            <li><a href="#">Draggable Marker</a></li>

                        </ul>
                    </li>

                    <li>
                        <a class="nav-link" href="vector-map.html">
                            <i data-feather="map-pin"></i><span>
                                Vector
                                Map
                            </span>
                        </a>
                    </li>
                    <li class="menu-header">Pages</li>

                    <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown">
                            <i data-feather="alert-triangle"></i><span>Errors</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" href="#">503</a></li>
                            <li><a class="nav-link" href="#">403</a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown">
                            <i data-feather="anchor"></i><span>
                                Other
                                Pages
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" href="#">Create Post</a></li>
                            <li><a class="nav-link" href="#">Posts</a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown">
                            <i data-feather="chevrons-down"></i><span>Multilevel</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Menu 1</a></li>
                            <li class="dropdown">
                                <a href="#" class="has-dropdown">Menu 2</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Child Menu 1</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="has-dropdown">Child Menu 2</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Child Menu 1</a></li>
                                            <li><a href="#">Child Menu 2</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#"> Child Menu 3</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>

                        }

                    }
                    else
                    {
                        <ul class="sidebar-menu">
                            <li class="dropdown">
                                <a href="#" class="menu-toggle nav-link has-dropdown">
                                    <i data-feather="user-check"></i><span>Auth</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/Auth/Account/Login">Login</a></li>
                                    <li><a href="/Auth/Account/Register">Register</a></li>
                                    <li><a href="#" data-target="#logoutModal" data-toggle="modal">Logout</a></li>

                                </ul>
                            </li>
                        </ul>
                    }

                </aside>
            </div>

            <div class="main-content">
                <section class="section">
                    <div class="section-body">
                        @RenderBody()
                    </div>
                </section>
                <div class="settingSidebar">
                    <a href="javascript:void(0)" class="settingPanelToggle">
                        <i class="fa fa-spin fa-cog"></i>
                    </a>
                    <div class="settingSidebar-body ps-container ps-theme-default">
                        <div class=" fade show active">
                            <div class="setting-panel-header">
                                Setting Panel
                            </div>
                            <div class="p-15 border-bottom">
                                <h6 class="font-medium m-b-10">Select Layout</h6>
                                <div class="selectgroup layout-color w-50">
                                    <label class="selectgroup-item">
                                        <input type="radio" name="value" value="1" class="selectgroup-input-radio select-layout" checked>
                                        <span class="selectgroup-button">Light</span>
                                    </label>
                                    <label class="selectgroup-item">
                                        <input type="radio" name="value" value="2" class="selectgroup-input-radio select-layout">
                                        <span class="selectgroup-button">Dark</span>
                                    </label>
                                </div>
                            </div>
                            <div class="p-15 border-bottom">
                                <h6 class="font-medium m-b-10">Sidebar Color</h6>
                                <div class="selectgroup selectgroup-pills sidebar-color">
                                    <label class="selectgroup-item">
                                        <input type="radio" name="icon-input" value="1" class="selectgroup-input select-sidebar">
                                        <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                                              data-original-title="Light Sidebar"><i class="fas fa-sun"></i></span>
                                    </label>
                                    <label class="selectgroup-item">
                                        <input type="radio" name="icon-input" value="2" class="selectgroup-input select-sidebar" checked>
                                        <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                                              data-original-title="Dark Sidebar"><i class="fas fa-moon"></i></span>
                                    </label>
                                </div>
                            </div>
                            <div class="p-15 border-bottom">
                                <h6 class="font-medium m-b-10">Color Theme</h6>
                                <div class="theme-setting-options">
                                    <ul class="choose-theme list-unstyled mb-0">
                                        <li title="white" class="active">
                                            <div class="white"></div>
                                        </li>
                                        <li title="cyan">
                                            <div class="cyan"></div>
                                        </li>
                                        <li title="black">
                                            <div class="black"></div>
                                        </li>
                                        <li title="purple">
                                            <div class="purple"></div>
                                        </li>
                                        <li title="orange">
                                            <div class="orange"></div>
                                        </li>
                                        <li title="green">
                                            <div class="green"></div>
                                        </li>
                                        <li title="red">
                                            <div class="red"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="p-15 border-bottom">
                                <div class="theme-setting-options">
                                    <label class="m-b-0">
                                        <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                                               id="mini_sidebar_setting">
                                        <span class="custom-switch-indicator"></span>
                                        <span class="control-label p-l-10">Mini Sidebar</span>
                                    </label>
                                </div>
                            </div>
                            <div class="p-15 border-bottom">
                                <div class="theme-setting-options">
                                    <label class="m-b-0">
                                        <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                                               id="sticky_header_setting">
                                        <span class="custom-switch-indicator"></span>
                                        <span class="control-label p-l-10">Sticky Header</span>
                                    </label>
                                </div>
                            </div>
                            <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
                                <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme">
                                    <i class="fas fa-undo"></i> Restore Default
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="main-footer">
                <div class="footer-left">
                    <a href="templateshub.net">Templateshub</a></a>
                </div>
                <div class="footer-right">
                </div>
            </footer>
        </div>
    </div>








    General JS Scripts
    <script src="~/assets/js/app.min.js"></script>
    <script src="~/assets/js/common.js"></script>
    <!-- JS Libraies -->
    <script src="~/assets/bundles/datatables/datatables.min.js"></script>
    <script src="~/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>

    <!-- Template JS File -->
    <script src="~/assets/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="~/assets/js/custom.js"></script>
    <!-- Other Libraies -->

    <script src="~/assets/sweetalert2/dist/sweetalert2.js"></script>
    <script src="~/assets/flatpikr/flatpickr.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <form method="post" asp-area="Auth" asp-controller="Account" asp-action="Logout" id="logoutForm" class="navbar-right">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Logout</button>
                </form>
            </div>
        </div>
    </div>
</div>
