@model DailyFoodItemViewModel
@{
    ViewData["Title"] = "CreateDailyFoodItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style{
    <style>
        .modal {
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0;
            left: 0;
            z-index: 10040;
            overflow: auto;
            overflow-y: auto;
        }
    </style>
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Select Daily Food Item</h4>
                <button type="button" class="btn btn-primary float-right" onclick="ShowDailySelectedFoodItemModal()">
                    Selected Item
                </button>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered dt-responsive nowrap" style="width:100%" id="tblData">
                            <thead>
                                <tr class="text-center">
                                    <th>Sl#</th>
                                    <th>Item Id</th>
                                    <th>Item</th>
                                    <th>Image</th>
                                    <th>Category</th>
                                    <th>Unit</th>
                                    <th>Unit Price</th>
                                    <th>Vat</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{

                                    @if (Model.foodItems != null)
                                    {
                                        int Sl = 1;
                                        @foreach (var data in Model.foodItems.OrderByDescending(x => x.Id))
                                        {
                                            <tr class="text-center">
                                                <td>
                                                    @Sl
                                                </td>
                                                <td>@data?.Id</td>
                                                <td>@data?.itemName</td>
                                                <td><img src="/@data?.foodImage" alt="Alternate Text" width="50" height="50" /></td>
                                                <td>@data?.FoodCategory?.foodCategoryName</td>
                                                <td>@data?.Unit?.unitName</td>
                                                <td>@data?.unitPrice</td>
                                                <td>@data?.vatPercent</td>
                                                <td>@data?.description</td>
                                                <td class="text-nowrap">
                                                    <a href="#" class="badge badge-primary badge-shadow btnAdd" onclick="AddDailyItem(@data.Id,'@data.foodImage.Substring(11)','@data.itemName',@data?.FoodCategoryId,'@data?.FoodCategory?.foodCategoryName',@data?.UnitId,'@data?.Unit?.unitName',@data?.unitPrice,@data?.vatPercent,'@data?.description')">Select</a>
                                                    <a href="#" class="badge badge-warning badge-shadow btnCancel">Cancel</a>
                                                </td>
                                            </tr>
                                            Sl = Sl + 1;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="DailySelectedFoodItemModalLabel"
     aria-hidden="true" id="DailySelectedFoodItemModal" data-backdrop="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                @*<h5 class="modal-title" id="DailySelectedFoodItemModalLabel">Selected Daily Food Item</h5>*@
                <button type="button" class="btn btn-primary float-right btnSaveDailyFoodItems" onclick="SaveAllItem()">
                    Save All
                </button>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style=" height: 300px !important; max-height: 300px !important;">
                <div class="row">
                    <div class="col-12">
                            <table class="table table-striped table-bordered dt-responsive nowrap" style="width:100%" id="tblSelectedFoodItem">
                                <thead>
                                    <tr class="text-center">
                                        <th>Item Id</th>
                                        <th>Item</th>
                                        <th>Image</th>
                                        <th>Category</th>
                                        <th>Unit</th>
                                        <th>Unit Price</th>
                                        <th>Vat</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{

    <script>
        $(document).ready(function () {
            $("#tblData").DataTable();
            $("#tblData").on("click", "a.btnAdd", function () {
                $(this).closest("tr").addClass("bg-warning");
            })

            $("#tblSelectedFoodItem").on("click", "a.btnRemove", function () {
                var text = $(this).closest("tr").find("td").eq(0).find("span.FoodItemId").text().trim();
               
                $("#tblData tbody tr").each(function (index) {
                    var text2 = $(this).closest("tr").find("td:eq(1)").text().trim();
                    if (text == text2) {
                        $(this).closest("tr").removeClass("bg-warning");
                    }
                })

                $(this).closest("tr").remove();

            })

            $("#tblData").on("click", "a.btnCancel", function () {
                var text2 = $(this).closest("tr").find("td:eq(1)").text().trim();
                $("#tblSelectedFoodItem tbody tr").each(function (index) {
                    var text = $(this).closest("tr").find("td").eq(0).find("span.FoodItemId").text().trim();
                    if (text2 == text) {
                        $(this).closest("tr").remove();
                    }
                })

                $(this).closest("tr").removeClass("bg-warning");
            })


        });

        function SaveAllItem() {
           
            if ($("#tblSelectedFoodItem tbody tr").length > 0) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You want to save this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, save it!'
                }).then((result) => {
                    if (result.isConfirmed) {

                        $("#tblSelectedFoodItem tbody tr").each(function (index) {
                            var CurrentRow = $(this);
                            var frmData = {
                                FoodItemId: $(this).find("td").eq(0).find("span.FoodItemId").text().trim(),
                                FoodCategoryId: $(this).find("td").eq(0).find("span.FoodCategoryId").text().trim(),
                                UnitId: $(this).find("td").eq(0).find("span.UnitId").text().trim(),
                            }
                            $.ajax({
                                url: "/FoodItemArea/DailyFoodItem/CreateDailyFoodItem",
                                type: "POST",
                                data: JSON.stringify(frmData),
                                dataType: "json",
                                contentType: "application/json; charset=utf-8",
                                beforeSend: function () {
                                    $('#btnSaveDailyFoodItems').attr('disabled', 'disabled');
                                    $('#btnSaveDailyFoodItems').val('Submitting...');
                                },
                            }).done(function (data) {
                                CurrentRow.remove();
                                if ($("#tblSelectedFoodItem tbody tr").length == 0) {

                                    $("#DailySelectedFoodItemModal").modal("hide");

                                    $("#tblData tbody tr").each(function (index) {
                                        $(this).removeClass("bg-warning");
                                    })

                                    swal.fire('success', 'Saved All Successfully!', 'success');
                                }

                            }).fail(function () {
                                swal.fire('warning', 'Failed!', 'warning');
                            })

                        })

                    }

                });
            }
            else {
                swal.fire('warning', 'Please select at least one Item', 'warning');
            }

        }

        function AddDailyItem(Id, foodImage, itemName, FoodCategoryId, foodCategoryName, UnitId, unitName, unitPrice, vatPercent, description) {



            if ($('#tblSelectedFoodItem tr:contains("' + itemName + '")').length > 0) {
                 /* alert("Sorry!! you already add this item");*/
                swal.fire('warning', 'Sorry!! you already add this item', 'warning');
            } else {
                $("#tblSelectedFoodItem tbody").append(
                    `<tr class="text-center">
                <td><span class="FoodItemId">${Id}</span ><span class="d-none FoodCategoryId">${FoodCategoryId}</span > <span class="d-none UnitId">${UnitId}</span></td>
                <td>${itemName}</td>
                <td><img src="/FoodImages/${foodImage}" alt="Alternate Text" width="50" height="50" /></td>
                <td>${foodCategoryName}</td>
                <td>${unitName}</td>
                <td>${unitPrice}</td>
                <td>${vatPercent}</td>
                <td>${description}</td>
                <td> <a href="#" class="badge badge-danger badge-shadow btnRemove">Remove</a></td>
            </tr>`
                )

            }


         

        }
        function ShowDailySelectedFoodItemModal() {
            $("#DailySelectedFoodItemModal").modal("show");
        }
    </script>
}